html, body {
  overflow-x: hidden;
  max-width: 100%;
}

.btn-primary {
  background-color: #f95491!important;
  border-color: #f64283!important;
}

.btn-primary:hover {
  background-color: #f95491!important;
  border-color: #f95491!important;
}

.bg-primary {
  background-color: #f174dc!important;
}

.bg-secondary {
  background-color: #f95491!important;
}

.barh{
  height:10px
}

